<div class="card">

    <div class="header">
        <h2 class="title">Flight Search</h2>
    </div>
    <div class="content">
    
    <form #f="ngForm">
    
        <div class="form-group">
            <label>From:</label>
            <input 
                name="from" 
                [(ngModel)]="from"
                required
                minlength="3"
                pattern="[A-Za-zöäüÖÄÜß]*" 
                class="form-control">

            <flight-validation-errors [errors]="f?.controls['from']?.errors">
            </flight-validation-errors>

            <div *ngIf="!f?.controls['from']?.valid">
                ... Fehler ...
            </div>
            <div *ngIf="f?.controls['from']?.hasError('required')">
                ... Required ...
            </div>
            <pre *ngIf="f?.controls['from']?.errors">
                ... {{ f?.controls['from']?.errors | json }} ...
            </pre>            

        </div>
        <div class="form-group">
            <label>To:</label>
            <input name="to" [(ngModel)]="to" class="form-control">
        </div>
    
        <div class="form-group">
            <button 
                [disabled]="!from || !to"
                (click)="search()"
                class="btn btn-default">Search</button>
                </div>
    </form>
    
    </div>
    </div>
    
    <div class="row">
        <div *ngFor="let f of flights">

            <flight-card 
                class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
                [item]="f" 
                [(selected)]="basket[f.id]">

                <h1 class="top">Flight</h1>
                <pre class="bottom">{{ f | json }}</pre>

            </flight-card>

                <!-- 
                [selected]="basket[f.id]"
                (selectedChange)="basket[f.id] = $event"
                -->
        </div>
    </div>
    
    <!-- <div class="card">
    
        <table class="table table-contensed" *ngIf="flights.length > 0">
            <thead>
            <tr>
                <th>Id</th>
                <th>From</th>
                <th>To</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tr *ngFor="let f of flights | statusFilter:false" [ngStyle]="{ 'background-color': (f === selectedFlight) ? 'orange' : 'white' }">
                <td>{{f.id}}</td>
                <td>{{f.from | asyncCity:'short' | async }}</td>
                <td>{{f.to | asyncCity:'long' | async }}</td>
                <td [ngStyle]="{color: f.delayed | statusColor }">{{f.date | date:'dd.MM.yyy HH:mm'}}</td>
                <td>
                    <a (click)="select(f)">Select</a> 
                </td>
            </tr>
        </table>
    
    </div> -->
    
    
    <div class="card">
        <div class="content">
            <pre>{{basket | json}}</pre>
        </div>
    </div>

    <div *ngIf="selectedFlight">

        <div>
        {{ message }}
        </div>
  
        <div class="form-group">
        <label>Id</label>
        <input [(ngModel)]="selectedFlight.id" class="form-control">
        </div>
  
        <div class="form-group">
        <label>From</label>
        <input [(ngModel)]="selectedFlight.from" class="form-control">
        </div>
  
        <div class="form-group">
        <label>From</label>
        <input [(ngModel)]="selectedFlight.to" class="form-control">
        </div>

        <div class="form-group">
        <label>From</label>
        <input [(ngModel)]="selectedFlight.date" class="form-control">
        </div>
    
        <button (click)="save()" class="btn btn-default">Save</button>
  
      </div>
    